body {
    font-weight: 200;
    margin: 0;
    padding: 0;
    background-color: #171717;
  }
  * {
    font-family: "Montserrat", sans-serif;
  }
  .header {
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
      url(images/baner.png) center/cover;
    position: relative;
  }
  nav {
    display: flex;
    padding: 20px 50px;
    justify-content: space-between;
  }
  nav img {
    width: 100px;
  }
  .nav-links {
    flex: 1;
    text-align: right;
  }
  .nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 32px 12px;
    position: relative;
  }
  .nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 17px;
  }
  .nav-links ul li::after {
    content: "";
    width: 0%;
    height: 1px;
    background: #fff;
    display: block;
    margin-right: auto;
    transition: 0.7s;
  }
  .nav-links ul li:hover::after {
    width: 100%;
  }
  nav .fa {
    display: none;
  }
  /* Sign Up And Log In Code inclueding Video's*/
  video {
    width: 100%;
  }
  .videoRight {
    width: 570px;
    position: relative;
    left: 820px;
    top: 110px;
    border-radius: 15px;
    border: 2px solid #adadad;
  }
  .center {
    position: absolute;
    top: 180px;
    left: 80px;
    width: 400px;
    background: transparent;
    border-radius: 7px;
  }
  .txt_field::placeholder {
    font-family: "Montserrat", sans-serif;
  }
  .center h1 {
    color: #ffffff;
    text-align: center;
    padding: 0 0 20px 0;
  }
  .center form {
    padding: 0 40px;
    box-sizing: border-box;
  }
  form .txt_field {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
  }
  .txt_field input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
    color: #fff;
  }
  .txt_field label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: 0.5s;
  }
  .pass {
    margin: -5px 0 20px 5px;
    color: #a6a6a6;
    cursor: pointer;
  }
  .pass:hover {
    text-decoration: underline;
  }
  input[type="submit"] {
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #545454;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
  }
  input[type="submit"]:hover {
    border-color: #2691d9;
    transition: 0.5s;
  }
  .signup_link {
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #666666;
  }
  .signup_link a {
    color: #2691d9;
    text-decoration: none;
  }
  .signup_link a:hover {
    text-decoration: none;
  }
  .footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;
    background-color: #171717;
    color: #fff;
  }
  .fotter2 {
    width: 100%;
    color: #fff;
    background-color: #171717;
  }
  .fotter2 img {
    width: 50px;
    position: relative;
    left: 730px;
    top: 20px;
  }
  i {
    color: #fff;
    padding: 15px;
  }
  i:hover {
    color: #2691d9;
    font-size: 23px;
    transition: 0.7s;
  }
  .nav-links li:last-child {
    background-color: #343434;
    padding: 10px;
    border-radius: 15px;
  }
  .pages a {
    color: #fff;
    text-decoration: none;
    padding: 3px;
  }
  .pages a:hover {
    text-decoration: underline;
    transition: 1s;
  }
  
  /* media querys */
  
  /* ----------- iPhone 4 and 4S ----------- */
  
  /* Portrait and Landscape */
  @media only screen and (min-device-width: 0px) and (max-device-width: 768px) and (-webkit-min-device-pixel-ratio: 2) {
    
    .nav-links {
      display: none;
    }
    .text-box h1 {
      font-size: 10px;
    }
    .fotter2 img {
      display: none;
    }
    .header img {
      text-align: center;
      align-items: center;
    }
    nav {
      padding: 0;
      justify-content: space-evenly;
    }
    .fotter2 img {
      display: none;
    }
    .video-image {
      width: 100%;
      flex-direction: column;
      flex-basis: 45%;
    }
    video {
      display: none;
    }
    .center {
      position: absolute;
      top: 100px;
      left: 0.1px;
      width: 100%;
    }
  }
  /* ----------- iPad 1, 2, Mini and Air ----------- */
  
  /* Portrait and Landscape */
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    .text-box h1 {
      font-size: 30px;
    }
    .fotter2 img {
      display: none;
    }
    .container,
    .container1 {
      flex-basis: 45%;
    }
    .video-image {
      width: 100%;
      flex-direction: column;
      flex-basis: 45%;
    }
    video {
      display: none;
    }
    .center {
      position: absolute;
      top: 75px;
      left: 5px;
      width: 100%;
    }
  }
  
  @media only screen and (min-width: 375px) and (max-width: 425px) {
    .nav-links {
      display: none;
    }
    .text-box h1 {
      font-size: 30px;
    }
    .fotter2 img {
      display: none;
    }
    .container,
    .container1 {
      flex-basis: 45%;
    }
    .header nav img {
      position: relative;
      top: 40px;
    }
    .video-image {
      width: 100%;
      flex-direction: column;
      flex-basis: 45%;
    }
    video {
      display: none;
    }
    .center {
      position: absolute;
      top: 130px;
      left: 5px;
      width: 100%;
    }
  }
  
  @media only screen and (min-width: 480px) and (max-width: 768px) {
    .text-box h1 {
      font-size: 30px;
    }
    .fotter2 img {
      display: none;
    }
    .header nav img {
      position: relative;
      top: 40px;
    }
    .header nav img {
      position: relative;
      top: 40px;
    }
    .video-image {
      width: 100%;
      flex-direction: column;
      flex-basis: 45%;
    }
    video {
      display: none;
    }
    .center {
      position: absolute;
      top: 75px;
      left: 5px;
      width: 300px;
    }
  }
  @media only screen and (min-width: 1024px) and (max-width: 1921px) {
    .text-box h1 {
      font-size: 30px;
    }
    .fotter2 img {
      display: none;
    }
    .container,
    .container1 {
      flex-basis: 45%;
    }
    .video-image {
      width: 100%;
      flex-direction: column;
      flex-basis: 45%;
    }
    video {
      width: 100%;
    }
  }
  @media only screen and (min-width: 1922px) and (max-width: 2766px) {
    .nav-links {
      size: 20px;
    }
    .text-box h1 {
      font-size: 50px;
    }
    .footer {
      font-size: 29px;
    }
    .fotter2 img {
      display: none;
    }
    .container,
    .container1 {
      flex-basis: 45%;
    }
    .video-image {
      width: 100%;
      flex-direction: column;
      flex-basis: 45%;
    }
    .center {
      width: 600px;
    }
  }
  