body {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  margin: 0;
  padding: 0;
  background-color: #333;
}
.text-box {
  width: 100%;
  color: #fff;
  text-align: center;
  position: relative;
  top: 130px;
}
h5{
  color: #ff0000;
}
.text-box h1 {
  font-size: 40px;
}
.text-box i {
  font-size: 54px;
  padding: 15px;
  color: #fff;
}
.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
  border-radius: 4px;
}
.hero-btn:hover {
  border: 1px solid #444444;
  background: #444444;
  transition: 1s;
  border-radius: 4px;
}
